body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: rgb(32, 106, 218);
    font-size: 70px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

p{
    font-size: 17px;
    font-weight: 300;
}

.contenedor.blog {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: indigo;
}

.content_blog {
    width: 800px;
    text-align: justify;
    margin: 0 auto;
    font-family: sans-serif;
}
.blogdeproyecto {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
}
img.imagenblog {
    border-radius: 50px;
    width: 100%;
}